@font-face {
  font-family: "icon";
  src: url( ".tmp/dist/fonts/icon.eot" );
  src: url( ".tmp/dist/fonts/icon.eot?#iefix" ) format( "eot" ),
       url( ".tmp/dist/fonts/icon.woff" ) format( "woff" ),
       url( ".tmp/dist/fonts/icon.ttf" ) format( "truetype" ),
       url( ".tmp/dist/fonts/icon.svg#icon" ) format( "svg" );
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-cart:before { content: "\EA01" }