@import "nib"
global-reset()

@import "_sprite"

body
  font-family "Hiragino Kaku Gothic ProN", Meiryo, sans-serif
  background #faa000

img
  vertical-align bottom
  background url(/img/bg.png)

main
  sprite($bower)
